 {% extends 'base.html' %}

 {% block extra_css %}
 <link rel="stylesheet" href="{{url_for('static' , filename = 'index_styling.css')}}">
 {% endblock %}


 {% block content %}

<!--<div class="container_style">-->
<!--    <div class="balance-card card text-center p-3 mb-2 text-white" style="background-color: rgba(0, 0, 0, 0.8);">-->
<!--        <div class="card-header">-->
<!--            Account Balance-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">$<span id="balance">{{ balance }}</span></h5>-->
<!--            <a href="{{ url_for('balance_view') }}" class="btn btn-primary" style="margin-top: 20px;">-->
<!--                Manage Balance-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

 <div class="container_style text-center">
    <div class="glass-panel p-4 text-white">
        <h4 class="mb-3">Account Balance</h4>
        <h2>$<span id="balance">{{ balance }}</span></h2>
        <a href="{{ url_for('balance_view') }}" class="btn btn-primary mt-3">
            Manage Balance
        </a>
    </div>
</div>



{% endblock %}

